@model Entity.Concrete.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Ekle</h1>

<br />
@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklama")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    
  
    <button class="btn btn-info btn-sm">Kaydet</button>
}

